.fo-revenue-line-chart {
    width: 100%;
    height: 100%;
}

.fo-revenue-line-chart text {
    font: var(--fo-font-caption);

    fill: var(--fo-color-text-secondary);
}

.fo-revenue-line-chart:focus {
    outline: none;
}