.footer {
    border-top: 1px solid #D9D9D9;
    padding: 16px 0;
    text-align: center;
    margin-top: 102px;

    .author-name {
        font-size: 14px;
        color: #151667;
    }

    .link {
        color: #3B58FF;
        font-size: 12px;
    }
}